@import "./base.css";

.primary {
  background-color: #2693FF;
}

.danger {
  background-color: #FF4874;
}

.success {
  background-color: #1AD18F;
}

.text-danger {
  color: #FF4874;
}

#app {
  width: auto;
  height: 100vh;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.2em;
}

input,
textarea {
  border-radius: 5px;
  padding: 8px;
  font-size: 25px;
  background-color: #fff;
  border: #BFDAEB 2px solid;
}

input[type=text]:focus,
textarea:focus {
  outline: #2693FF 2px solid;
}

button[type=submit] {
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type=button]:focus {
  outline: none;
}

button[type=submit]:active {
  border: #18a06e 2px solid;
}

.form-display {
  margin-bottom: 0.8em;
  width: auto;
}